@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Metamorphous&display=swap');

:root {
  --background-color: #1e1e1e;
  --text-color: #d4d4d4;
  --accent-color: #c586c0;
  --header-color: #569cd6;
  --border-color: #3c3c3c;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

body, input, select, textarea {
  font-family: "Metamorphous", serif;
  outline: none;
}

.level-container {
  border: 2px solid var(--border-color);
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  margin: 10px;
  font-weight: bold;
  box-shadow: 0 0 10px var(--accent-color);
  border-radius: 50px;
  padding-top: 10px;
}

.level-container > input {
  font-size: 2em;
  width: 80px;
  text-align: center;
  box-sizing: border-box;
  padding-left: 0.6em; 
}

header {
  background-image: url('https://example.com/dnd-header.png');
}

.img-header {
  width: 300px;
  height: 150px;
  background-image: url('https://example.com/dnd-header.png'); /* Replace with actual image URL */
  background-size: cover;
  background-position: center;
}