@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Metamorphous&display=swap');

:root {
  --background-color: #1e1e1e;
  --text-color: #d4d4d4;
  --accent-color: #c586c0;
  --header-color: #569cd6;
  --border-color: #3c3c3c;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

body, input, select, textarea {
  font-family: "Metamorphous", serif;
}